<%= form_for @issue, :html => { :class => "form-horizontal issue" } do |f| %>

  <% if @issue.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@issue.errors.count, "error") %> prohibited this issue from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @issue.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label 'Дата выдачи', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_field :date_of_issue, :class => 'form-control' %>
    </div>
    <%=f.error_span(:date_of_issue) %>
  </div>
  <div class="form-group">
    <%= f.label 'Дата возврата', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_field :date_of_return, :class => 'form-control' %>
    </div>
    <%=f.error_span(:date_of_return) %>
  </div>
  <div class="form-group">
    <%= f.label 'Книга', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select(:book_id, Book.all, :id, :book_title, {include_blank: true}, :class => 'form-control') %>
    </div>
    <%=f.error_span(:book_id) %>
  </div>
  <div class="form-group">
    <%= f.label 'Читательский билет №', :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.collection_select(:subscriber_id, Subscriber.all, :id, :sub_ticket, {include_blank: true}, :class => 'form-control') %>
    </div>
    <%=f.error_span(:subscriber_id) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                issues_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
