<%- model_class = Worker -%>
<div class="page-header">
  <h1>Сотрудники</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th>Фамилия</th>
      <th>Имя</th>
      <th>Отчество</th>
      <th>Дата рождения</th>
      <th>Дата принятия на работу</th>
      <th>Должность</th>
      <th>Образование</th>
      <th>Библиотека (id)</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <% @workers.each do |worker| %>
      <tr>
        <td><%= link_to worker.id, worker_path(worker) %></td>
        <td><%= worker.worker_surname %></td>
        <td><%= worker.worker_name %></td>
        <td><%= worker.worker_patronymic %></td>
        <td><%= worker.worker_birth_date %></td>
        <td><%= worker.worker_employment_date %></td>
        <td><%= worker.worker_position %></td>
        <td><%= worker.worker_education %></td>
        <td><%= worker.library_id %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      worker_path(worker), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_worker_path(worker), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      worker_path(worker),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_worker_path,
            :class => 'btn btn-primary' %>
